
<section class="section-story">
<div class="bg-video">
    <video class="bg-video-content" autoplay muted loop>
        <source src="assets/video/video1" type="video/mp4">
            Your browser is not supported
    </video>
</div>

    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
           Stories
        </h2>
    </div>

<div class="my-row">
    <div class="story">
        <figure class="story-shape"> 
           <img src="assets/images/plage.jpg" alt="moi" class="story-image">
           <figcaption class="story-caption">Mr</figcaption>
        </figure>
        <div class="story-text">
            <h3 class="heading-teriary u-margin-bottom-small">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quibusdam eaque tempora nisi doloribus odio cum rerum iure. Reprehenderit omnis et ab dicta, nulla voluptates? Eveniet cum ex ipsum consequuntur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quibusdam eaque tempora 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quibusdam eaque tempora 
                </p>
            </h3>
        </div>
        
    </div>
</div>








</section>