/*
mat-progress-bar{
  background: linear-gradient(rgba(color-white,.9),orangred);
  height: 1rem;
  border-radius: 10px;
}

mat-label{
  color: brown;
  margin-left: 4rem;
  width: 10rem;
}


.competance-label{
  width: 15rem;
  height: 5rem;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.competance-bar{
  width: 50rem;
  height: 5rem;
} */
