
//COLORS

$color-primary: rgb(186, 228, 226);
$color-primary-light:rgb(178, 194, 238);
$color-primary-dark: rgb(72, 185, 230);

$color-competance-dark:  rgb(219, 219, 243);
$color-competance-light-2:  rgb(224, 224, 240);
$color-competance-light-1:  rgb(214, 214, 241);
$color-competance-activated:  rgb(199, 199, 243);
$color-competance-background: #e7f1f3;


$color-black:#343633;
$color-grey-black:#656864;
$color-grey-dark:#434443;
$color-beige: #e8ebcc;
$color-white:#fff;

$color-secondary-light-1: #ffb900;
$color-secondary-light-2: #0a6ee9;


$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;



//FONT

$default-font-size: 1.6rem;

//GRID
$grid-width: 90%;
$grid-width-2: 114rem;
$grid-width-3: 100%;
$gutter-vertical:8rem;
$gutter-vertical-small:8rem;
$gutter-horizontal: 2rem;

$gutter-vertical-xs: 2rem;





