<section class="section-nav">
<div class=" header-bar"> <!--header1 -->

  <ul class="nav-item-admin"  routerLink="/admin20072007/header">
    <li>header</li>

  </ul>
  <ul class="nav-item-admin" routerLink="/admin20072007/moi"  routerLinkActive="nav-item-admin-activated">
    <li> moi</li>
  </ul>


     <ul class="nav-item-admin" routerLink="/admin20072007/portfolio" routerLinkActive="nav-item-admin-activated">
       <li>portfolio</li>
   </ul>
   <ul class="nav-item-admin" routerLink="/admin20072007/informatique"   routerLinkActive="nav-item-admin-activated">
     <li> informatiques</li>
   </ul>
   <ul class="nav-item-admin"  routerLink="/admin20072007/electronique"  routerLinkActive="nav-item-admin-activated">
    <li>electroniques</li>
  </ul>
  <ul   class="nav-item-admin" routerLink="/admin20072007/experience"   routerLinkActive="nav-item-admin-activated">
    <li > experiences</li>
  </ul>
  <ul class="nav-item-admin"  routerLink="/admin20072007/formation"   routerLinkActive="nav-item-admin-activated">
    <li>formations</li>
  </ul>
  <ul class="nav-item-admin"  routerLink="/admin20072007/langue"   routerLinkActive="nav-item-admin-activated">
    <li>langues</li>
  </ul>
  <ul class="nav-item-admin"  routerLink="/admin20072007/atout"   routerLinkActive="nav-item-admin-activated">
    <li>mes Atouts</li>
  </ul>
  <ul class="nav-item-admin"  routerLink="/admin20072007/loisir"   routerLinkActive="nav-item-admin-activated">
    <li>loisirs</li>
  </ul>
  <ul class="nav-item-admin"  routerLink="/admin20072007/message"   routerLinkActive="nav-item-admin-activated">
    <li>messages</li>
  </ul>

</div>

</section>
