/* .moi-box{
  top: 0;
  left: 0;
  margin-top: -8rem;
  width:  90%;
  height: 50rem;
  overflow: hidden;
  background: #f7f8f8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  font-size: 2rem;


} */

.moi-box h3{



}

