.my-progressive{

    top:0;
     left: 0; 

     
    background-color:$color-grey-light-2 ;
    width: 50rem;
    height: 2rem;
    text-decoration: none;
      padding: 15px 40px;
      display: block;
      display: inline-block;
}












