
.contact-display{
  margin: 5rem auto;
  width: 50%;
  min-height: 20rem;
  background-color: rgb(234, 238, 241);

  border-radius: 5px;

}

.display-box{
  padding-top: 4rem;
  margin: 2rem auto;
  width: 80%;

}

.display-letter{


  font-size: 1.3rem;
  min-height: 20rem;
}

.button-pos{
  float: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.post-image{
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-expansion-panel {
  margin-bottom: 1rem;
}
