/*
  0 - 600px   phone
  600 - 900px Tablet portrait
  900 - 1200px Tablet landcape
  1200 - 1800px standard screen
  1800           big desktop
  */
/*
  $breakpoint argument choices:
  - phone
  -tab-port
  -tab-land
  -big-desktop

ORDER / Base +typography >general layot + grid >page layout >components

  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit; }

:root {
  --color-primary: #f8fcfc;
  --color-primary-light: #ecf2f3; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  margin: 0rem 2rem 0 2rem;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 37.5em) {
    body {
      padding: 0;
      margin: 0rem 2rem 0 2rem; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  95% {
    transform: translateX(-2px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  95% {
    transform: translateX(2px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.7;
  color: #656864; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 40px; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    margin-bottom: 30px;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 0.5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 15px;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out; }

.heading-secondary {
  display: block;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #434443;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  transition: all .2s;
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 1.6rem;
      margin-bottom: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1.4rem;
      margin-bottom: 3rem; } }
  .heading-secondary:hover {
    transform: skewY(2ded) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem #656864; }

.heading-tertiary {
  color: #79797e;
  display: block;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.6rem; } }
  @media (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.4rem;
      font-weight: 500; } }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.3rem; } }

.paragraph {
  font-size: 1.4rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .paragraph {
      font-size: 1.2rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.heading-name {
  color: #fff;
  display: block;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 3rem;
  font-size: 1.6rem;
  width: 100%;
  margin: auto 5rem; }
  .heading-name-main {
    display: block;
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 4px;
    margin-bottom: 20px; }
    @media (max-width: 75em) {
      .heading-name-main {
        font-size: 2.5rem;
        font-weight: 200;
        letter-spacing: 4px;
        margin-bottom: 15px; } }
    @media (max-width: 56.25em) {
      .heading-name-main {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 3px;
        margin-bottom: 10px; } }
    @media (max-width: 37.5em) {
      .heading-name-main {
        margin-top: 1.6rem;
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 1px; } }
  .heading-name-sub {
    display: block;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 5px;
    margin-bottom: 30px; }
  .heading-name-p {
    display: block;
    font-size: 1.5rem;
    font-weight: 150;
    letter-spacing: 2px; }
    @media (max-width: 56.25em) {
      .heading-name-p {
        font-size: 1.3rem;
        font-weight: 100;
        letter-spacing: 1px;
        margin-bottom: 10px;
        line-height: 3rem; } }
    @media (max-width: 37.5em) {
      .heading-name-p {
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 2.5rem; } }

.heading-details {
  color: #fff;
  display: block;
  display: inline-block; }
  .heading-details-sub {
    margin-top: 2px;
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 2px; }
    @media (max-width: 56.25em) {
      .heading-details-sub {
        margin-top: 2px;
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 2.5rem; } }
    @media (max-width: 37.5em) {
      .heading-details-sub {
        margin-top: 1px;
        font-size: 1.3rem;
        font-weight: 100;
        letter-spacing: 1px;
        margin-bottom: 1px;
        line-height: 2.5rem; } }
  .heading-details-p {
    display: block;
    font-size: 1.6rem;
    font-weight: 150;
    letter-spacing: 2px;
    margin-bottom: 2px; }
    @media (max-width: 56.25em) {
      .heading-details-p {
        line-height: 2rem;
        font-size: 1.3rem;
        font-weight: 100;
        letter-spacing: 1px;
        margin-bottom: 1px; } }
    @media (max-width: 37.5em) {
      .heading-details-p {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 1px;
        letter-spacing: 1px; } }

.u-center-text {
  text-align: center !important; }

.u-margin-buttom-xs {
  margin-top: .5rem !important; }

.u-margin-buttom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-buttom-medium {
  margin-bottom: 3rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-buttom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-buttom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-buttom-big {
      margin-bottom: 5rem !important; } }

.my-btn:link, .my-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 20px;
  transition: all .2s;
  position: relative; }
  @media (max-width: 56.25em) {
    .my-btn:link, .my-btn:visited {
      font-size: 1.3rem;
      padding: 10px 30px;
      text-align: center; } }

.my-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(52, 54, 51, 0.2); }
  .my-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.my-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(52, 54, 51, 0.2); }

.my-btn-white {
  background-color: #fff;
  color: #777; }
  .my-btn-white::after {
    background-color: rgba(232, 235, 204, 0.3); }

.my-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.my-btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.my-btn-text:link, .my-btn-text:visited {
  font-size: 1.6rem;
  color: #bae4e2;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #bae4e2;
  padding: 3px;
  transition: all 0.2s; }

.my-btn-text:hover {
  background-color: #bae4e2;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(52, 54, 51, 0.2);
  transition: translateY(-2px);
  border-radius: 5px; }

.my-btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(52, 54, 51, 0.2);
  transition: translateY(0); }

.composition {
  position: relative; }
  .composition-photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(52, 54, 51, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition-photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 4rem rgba(52, 54, 51, 0.2); } }
    .composition-photo-p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition-photo-p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition-photo-p2 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition-photo-p2 {
          top: -2rem;
          left: 0;
          transform: scale(1.1);
          z-index: 50; } }
    .composition-photo-p3 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition-photo-p3 {
          top: 0rem;
          transform: scale(1.2); } }
    .composition-photo:hover {
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(52, 54, 51, 0.5);
      z-index: 20; }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.95); }

.moi-box {
  top: 0;
  left: 0;
  width: 90%;
  height: auto;
  overflow: hidden;
  background: #f7f8f8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .moi-box {
      margin-top: 1rem; } }

.my-row p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3rem; }
  @media (max-width: 75em) {
    .my-row p {
      line-height: 2rem; } }
  @media (max-width: 56.25em) {
    .my-row p {
      line-height: 2rem; } }

.competance-box {
  float: left; }

.feature-box {
  position: relative;
  height: 5rem;
  width: 20rem;
  font-size: 1.3rem;
  background: #dbdbf3;
  border-bottom: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4 rgba(52, 54, 51, 0.2);
  transition: transform .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none; }
  .feature-box:hover {
    background-color: #d6d6f1; }
  @media (max-width: 56.25em) {
    .feature-box {
      width: 12rem;
      height: 3rem;
      font-size: 1rem; } }
  @media (max-width: 37.5em) {
    .feature-box {
      width: 10rem;
      height: 3rem;
      font-size: 1rem; } }
  .feature-box:not(:last-child) {
    border-bottom: 1px solid #eee; }
  .feature-box:not(:last-child) {
    border-right: 1px solid #eee; }
  .feature-box-activated {
    background-color: #c7c7f3;
    border: none;
    outline: none; }
  .feature-box h3 {
    position: absolute;
    text-transform: uppercase; }
    @media (max-width: 56.25em) {
      .feature-box h3 {
        font-size: 1.2rem; } }
    @media (max-width: 37.5em) {
      .feature-box h3 {
        font-size: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; } }
  .feature-box:hover .feature-box-details ul {
    position: relative;
    width: 12rem;
    transform: translateX(16rem) translateY(4.3rem) scale(1);
    z-index: 50;
    display: block; }
    @media (max-width: 56.25em) {
      .feature-box:hover .feature-box-details ul {
        transform: translateX(0rem) translateY(8rem) scale(1); } }
    @media (max-width: 37.5em) {
      .feature-box:hover .feature-box-details ul {
        width: 10rem;
        font-size: 1.2rem;
        transform: translateX(0rem) translateY(7rem) scale(1); } }
  .feature-box-details {
    padding: 0rem; }
    .feature-box-details ul {
      display: none;
      list-style: none;
      width: 100%;
      margin: 0 auto;
      border: none;
      outline: none;
      text-align: center; }
      .feature-box-details ul li {
        border: none;
        outline: none;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        padding: .8rem;
        text-transform: uppercase;
        background-color: #e0e0f0;
        background-size: cover; }
        .feature-box-details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
        .feature-box-details ul li:hover {
          background-color: #d6d6f1; }
        @media (max-width: 37.5em) {
          .feature-box-details ul li {
            top: 0;
            font-size: 1rem; } }

.description-box {
  position: relative;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: 172; }
  @media (max-width: 56.25em) {
    .description-box {
      margin-top: 2rem;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%; } }

.atout-box {
  width: 100%;
  min-height: 10rem;
  border-radius: 1rem;
  background-color: #bcd3fd;
  overflow: hidden;
  border-bottom: 2px solid #e7f1f3;
  margin: auto auto; }

.atout-heading-info {
  background-color: #a4c1f8;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .atout-heading-info {
      width: 100%;
      margin: auto auto; } }
  .atout-heading-info h2 {
    color: #504d4d;
    font-size: 1.6rem; }
    @media (max-width: 56.25em) {
      .atout-heading-info h2 {
        font-size: 1.3rem; } }
    @media (max-width: 37.5em) {
      .atout-heading-info h2 {
        font-size: 1rem; } }

.atout-heading {
  background-color: #a4c1f8;
  padding: 0.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .atout-heading {
      margin-bottom: 2rem;
      width: 100%;
      margin: auto auto; } }
  .atout-heading h2 {
    color: #504d4d;
    font-size: 1.6rem; }
    @media (max-width: 56.25em) {
      .atout-heading h2 {
        font-size: 1.3rem; } }
    @media (max-width: 37.5em) {
      .atout-heading h2 {
        font-size: 1rem; } }

.atout-description {
  color: #4e4a4a;
  text-align: center;
  margin: auto auto; }
  @media (max-width: 56.25em) {
    .atout-description h3 {
      font-size: 1.3rem; } }
  @media (max-width: 37.5em) {
    .atout-description h3 {
      font-size: 1rem; } }

.mat-progress-bar {
  height: 1rem;
  border-radius: 10px; }
  @media (max-width: 56.25em) {
    .mat-progress-bar {
      width: 10rem;
      height: .6rem; } }
  @media (max-width: 37.5em) {
    .mat-progress-bar {
      height: .4rem; } }

.mat-label {
  color: brown; }
  @media (max-width: 56.25em) {
    .mat-label {
      font-size: 1.3rem; } }
  @media (max-width: 37.5em) {
    .mat-label {
      font-size: 1rem; } }

.competance-label {
  min-width: 20rem;
  height: 5rem;
  font-size: 1.6rem; }
  @media (max-width: 56.25em) {
    .competance-label {
      min-width: 16rem;
      height: 2rem;
      font-size: 1.3rem; } }
  @media (max-width: 37.5em) {
    .competance-label {
      min-width: 12rem;
      height: 1.5rem;
      font-size: 1rem; } }

.competance-bar {
  width: 50rem;
  height: 4rem; }
  @media (max-width: 56.25em) {
    .competance-bar {
      min-width: 10rem;
      height: 2rem; } }
  @media (max-width: 37.5em) {
    .competance-bar {
      min-width: 6rem;
      height: 1.5rem; } }

.my-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  margin-left: 3rem;
  margin-right: 2rem; }
  @media (max-width: 56.25em) {
    .my-card {
      margin: 1rem auto; } }
  .my-card-side {
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(52, 54, 51, 0.15); }
    .my-card-side-front {
      background-color: #0db3f5; }
    .my-card-side-back {
      transform: rotateY(180deg); }
      .my-card-side-back-1 {
        background-image: url(imagesStat/header.jpg);
        background-repeat: no-repeat;
        background-size: cover; }
  .my-card:hover .my-card-side-front {
    transform: rotateY(-180deg); }
  .my-card:hover .my-card-side-back {
    transform: rotateY(0deg); }
  .my-card-image {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 80%); }
    .my-card-image-1 {
      background: #35b6f1;
      background-image: url(imagesStat/info.jpg); }
  .my-card-heading {
    font-size: 2.8rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 5rem;
    right: 4rem;
    width: 75%; }
  .my-card-details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .my-card-details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
  .my-card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .my-card-price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .my-card-price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .my-card-price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .my-card {
      height: auto;
      border-radius: 4px;
      background-color: #0db3f5;
      box-shadow: 0 1.5rem 4rem rgba(52, 54, 51, 0.15); }
      .my-card-side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .my-card-side-back {
          transform: rotateY(0deg);
          clip-path: polygon(0% 50%, 100% 10%, 100% 100%, 0% 100%); }
      .my-card:hover .my-card-side-front {
        transform: rotateY(0); }
      .my-card-details {
        padding: 1rem 3rem; }
      .my-card-cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 5rem 4rem 4rem 4rem; }
      .my-card-price-box {
        margin-bottom: 3rem; }
      .my-card-price-value {
        font-size: 3rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(52, 54, 51, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0);
      padding: 5rem 0; } }
  .story-shape {
    width: 20rem;
    height: 20rem;
    background-color: #be3131;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story-shape {
        transform: translateX(-3rem) skewX(0); } }
  .story-image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story-text {
    transform: skewX(12deg);
    transform: skewX(0); }
    @media (max-width: 37.5em) {
      .story-text {
        padding: 2rem 0; } }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1,7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%); }
  .story:hover .story-image {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.my-form-group:not(:last-child) {
  margin-bottom: 2rem; }

.my-form-input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .my-form-input::-webkit-input-placeholder {
    color: #b2c2ee; }
  .my-form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(52, 54, 51, 0.1);
    border-bottom: 3px solid #bae4e2; }

.my-form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.my-form-input:placeholder-shown + .my-form-label {
  opacity: 0;
  visibility: hidden; }

.my-progressive {
  top: 0;
  left: 0;
  background-color: #eee;
  width: 50rem;
  height: 2rem;
  text-decoration: none;
  padding: 15px 40px;
  display: block;
  display: inline-block; }

.section-contact {
  min-height: 90vh; }

.contact {
  margin: 4rem auto;
  width: 60%; }
  @media (max-width: 56.25em) {
    .contact {
      width: 80%; } }
  @media (max-width: 37.5em) {
    .contact {
      width: 90%; } }

.mat-box {
  width: 70%;
  margin: 0rem auto; }
  @media (max-width: 56.25em) {
    .mat-box {
      width: 90%;
      margin: auto auto; } }

mat-form-field {
  margin-top: 1rem;
  width: 100%; }

mat-card {
  position: relative;
  margin: auto auto; }

.contact-display {
  padding-top: 4rem;
  margin: auto auto;
  width: 60%;
  min-height: auto;
  background-color: #eaeef1;
  border-radius: 5px; }
  @media (max-width: 56.25em) {
    .contact-display {
      width: 80%;
      margin: auto auto; } }

.display-box {
  position: relative;
  background-color: #b8d5f0;
  margin: 10% auto;
  width: 45%;
  height: 70%;
  min-height: 30rem; }
  @media (max-width: 75em) {
    .display-box {
      width: 45%; } }
  @media (max-width: 56.25em) {
    .display-box {
      width: 70%; } }

.message-box {
  position: relative;
  width: 50%;
  height: 8rem;
  background: #5caef1;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  float: left;
  text-transform: uppercase;
  cursor: pointer; }
  .message-box:not(:last-child) {
    border-right: 1px solid #eee; }
  @media (max-width: 56.25em) {
    .message-box {
      height: 6rem; } }
  @media (max-width: 37.5em) {
    .message-box {
      height: 5rem; } }
  .message-box h3 {
    font-size: 120%; }
    @media (max-width: 75em) {
      .message-box h3 {
        font-size: 115%; } }
    @media (max-width: 56.25em) {
      .message-box h3 {
        font-size: 75%; } }
    @media (max-width: 37.5em) {
      .message-box h3 {
        font-size: 50%; } }

.my-details {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-transform: uppercase; }
  .my-details p {
    font-size: 80%; }
    @media (max-width: 56.25em) {
      .my-details p {
        font-size: 60%; } }
    @media (max-width: 37.5em) {
      .my-details p {
        font-size: 50%; } }

.message {
  font-size: 1.6rem;
  text-align: center; }

.display-letter {
  font-size: 1.3rem;
  min-height: 20rem; }

.button-pos {
  float: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem; }

.post-image {
  width: 100%; }

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

mat-expansion-panel {
  margin-bottom: 1rem; }

.my-header {
  min-height: 90vh;
  position: relative;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.8) 55%, transparent 50%), url(imagesStat/myHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: cover;
    background-position: top; */ }
  @media (max-width: 56.25em) {
    .my-header {
      background-image: linear-gradient(160deg, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.8) 20%, transparent 50%), url(imagesStat/myHeader.jpg);
      height: 70rem; } }
  .my-header-logo-box {
    position: absolute;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    top: 8rem;
    left: 7%;
    width: 25rem;
    height: 25rem;
    backface-visibility: hidden; }
    @media (max-width: 56.25em) {
      .my-header-logo-box {
        position: absolute;
        left: 50%;
        top: 15rem;
        width: 20rem;
        height: 20rem;
        text-align: center;
        transform: translate(-50%, -50%);
        margin-bottom: 1rem; } }
    @media (max-width: 37.5em) {
      .my-header-logo-box {
        position: absolute;
        left: 50%;
        top: 15rem;
        width: 15rem;
        height: 15rem;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-bottom: 1rem; } }
  .my-header img {
    height: 100%;
    width: 100%; }
  .my-header-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.3rem;
    color: white;
    transform: translate(-50%, -50%); }
  .my-header-logo {
    height: 500px;
    filter: blur(4px) brightness(60%);
    transition: all 2s;
    backface-visibility: hidden; }
    .my-header-logo:hover {
      transform: translateZ(10rem) scale(1.2);
      filter: blur(0px) brightness(100%); }
  .my-header-box-name {
    display: block;
    display: inline-block;
    position: absolute;
    top: 18rem;
    left: 60%;
    width: 60%;
    height: 20rem;
    text-align: center;
    transform: translate(-50%, -50%); }
    @media (max-width: 75em) {
      .my-header-box-name {
        position: absolute;
        top: 23rem;
        width: 60%;
        height: 30rem;
        text-align: center;
        left: 67%;
        transform: translate(-50%, -50%); } }
    @media (max-width: 56.25em) {
      .my-header-box-name {
        margin-top: 1rem;
        position: absolute;
        top: 40rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: auto;
        text-align: center;
        margin-bottom: 1rem; } }
    @media (max-width: 37.5em) {
      .my-header-box-name {
        margin-top: 2rem;
        position: absolute;
        top: 38rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        margin-bottom: 1rem; } }
  .my-header-box-details {
    position: relative;
    top: 40rem;
    left: 2rem;
    width: 50rem;
    height: auto;
    display: block;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .my-header-box-details {
        margin-top: 1rem;
        position: absolute;
        top: 50rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: auto;
        text-align: center;
        margin-bottom: 2rem; } }
    @media (max-width: 37.5em) {
      .my-header-box-details {
        margin-top: 1rem;
        position: absolute;
        top: 50rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35rem;
        height: auto;
        text-align: center;
        margin-bottom: 2rem; } }

.header-bar {
  display: inline-block;
  position: relative;
  width: inherit;
  background-color: #323232;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 8rem; }
  @media (max-width: 56.25em) {
    .header-bar {
      display: flex;
      justify-content: center;
      height: 6rem; } }
  @media (max-width: 37.5em) {
    .header-bar {
      height: 5rem; } }

.nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: auto 1rem;
  width: 14rem;
  height: 5rem;
  background: #3c3c3c;
  text-decoration: none;
  border: none;
  outline: none; }
  @media (max-width: 37.5em) {
    .nav-item {
      height: 3rem;
      margin: auto .2rem auto .2rem; } }
  @media (max-width: 56.25em) {
    .nav-item {
      height: 4rem;
      margin: auto .5rem auto .5rem; } }
  .nav-item li {
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 10; }
    @media (max-width: 37.5em) {
      .nav-item li {
        font-size: .8rem;
        font-weight: 150; } }
    @media (max-width: 56.25em) {
      .nav-item li {
        font-size: 1rem;
        font-weight: 200; } }
    .nav-item li button {
      display: flex;
      border: none;
      background: none;
      font-size: 1.3rem;
      font-weight: 400;
      text-transform: uppercase;
      z-index: 10; }
    .nav-item li a {
      text-decoration: none;
      color: #b8dae7;
      font-size: 200; }
  .nav-item-moi {
    margin-right: 10%;
    margin-left: 2%; }
    @media (max-width: 56.25em) {
      .nav-item-moi {
        margin-right: 1rem;
        width: 8rem; } }
    @media (max-width: 56.25em) {
      .nav-item-moi {
        margin-right: auto;
        width: 8rem; } }
  @media (max-width: 56.25em) {
    .nav-item {
      width: 10rem; } }
  @media (max-width: 75em) {
    .nav-item {
      width: 13rem; } }
  .nav-item-activated {
    transform: scale(1.05);
    background: #505050;
    transition: .3s;
    z-index: 10; }
  .nav-item:hover {
    transform: translateY(-2px) scale(1.05);
    background: #505050;
    transition: .3s;
    z-index: 10; }

.nav-item-admin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 1rem auto;
  width: 13rem;
  height: 4rem;
  background: #505d6e;
  text-decoration: none;
  border: none;
  outline: none; }
  .nav-item-admin li {
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10; }
    .nav-item-admin li button {
      display: flex;
      border: none;
      background: none;
      font-size: 1.3rem;
      font-weight: 400;
      text-transform: uppercase;
      z-index: 10; }
    .nav-item-admin li a {
      text-decoration: none;
      color: #c8c8c8;
      font-size: 200; }
  .nav-item-admin-moi {
    margin-right: 10%;
    margin-left: 2%; }
    @media (max-width: 56.25em) {
      .nav-item-admin-moi {
        margin-right: 1rem;
        width: 8rem; } }
  @media (max-width: 56.25em) {
    .nav-item-admin {
      width: 10rem; } }
  @media (max-width: 75em) {
    .nav-item-admin {
      width: 13rem; } }
  .nav-item-admin-activated {
    transform: scale(1.05);
    background: #b4b4b4;
    transition: .3s;
    z-index: 10; }
  .nav-item-admin:hover {
    transform: translateY(-2px) scale(1.05);
    background: #b4b4b4;
    transition: .3s;
    z-index: 10; }

.my-row-3 {
  max-width: 100%;
  margin: 0px auto; }
  .my-row-3:not(:last-child) {
    margin-bottom: 8rem;
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .my-row-3:not(:last-child) {
        margin-bottom: 8rem;
        margin-bottom: 2rem;
        padding: 0; } }
  @media (max-width: 56.25em) {
    .my-row-3 {
      max-width: 50rem;
      padding: 0 3rem; } }
  .my-row-3::after {
    content: "";
    display: table;
    clear: both; }
  .my-row-3 [class^="col-"] {
    float: left; }
    .my-row-3 [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .my-row-3 [class^="col-"]:not(:last-child) {
          margin-bottom: 8rem;
          margin-right: 0; } }
    @media (max-width: 56.25em) {
      .my-row-3 [class^="col-"] {
        width: 100% !important; } }
  .my-row-3 .col-1-of-2 {
    width: calc((100% - 2rem)/2); }
  .my-row-3 .col-1-of-3 {
    width: calc((100% - (2rem*2))/3); }
  .my-row-3 .col-2-of-3 {
    width: calc((2 * (100% - 2rem * 2) /3) + 2rem); }
  .my-row-3 .col-1-of-3-xs {
    width: calc((100% - (2rem*2))/3); }
  .my-row-3 .col-2-of-3-xs {
    width: calc((2 * (100% - 2rem * 2) /3) + 2rem); }
  .my-row-3 .col-1-of-4 {
    width: calc((100% - (2rem*3))/4); }
  .my-row-3 .col-2-of-4 {
    width: calc(2*((100% - (2rem*3))/4)+ 2rem); }
  .my-row-3 .col-3-of-4 {
    width: calc(3*((100% - (2rem*3))/4)+ 2* 2rem); }

.my-row-2 {
  max-width: 114rem;
  padding-top: 10vh;
  margin: auto auto; }
  .my-row-2:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .my-row-2:not(:last-child) {
        margin-bottom: 8rem; } }
  @media (max-width: 56.25em) {
    .my-row-2 {
      max-width: 35rem; } }
  .my-row-2::after {
    content: "";
    display: table;
    clear: both; }
  .my-row-2 [class^="col-"] {
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .my-row-2 [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .my-row-2 [class^="col-"]:not(:last-child) {
          margin-bottom: 8rem; } }
    @media (max-width: 56.25em) {
      .my-row-2 [class^="col-"] {
        width: 100% !important; } }
  .my-row-2 .col-1-of-2 {
    width: calc((100% - 2rem)/2); }
  .my-row-2 .col-1-of-3 {
    width: calc((100% - 2rem*2)/3); }
  .my-row-2 .col-2-of-3 {
    width: calc((2 * (100% - 2rem * 2) /3) + 2rem); }
  .my-row-2 .col-1-of-3-xs {
    width: calc((100% - (2rem*2))/3); }
  .my-row-2 .col-2-of-3-xs {
    width: calc((2 * (100% - 2rem * 2) /3) + 2rem); }
  .my-row-2 .col-1-of-4 {
    width: calc((100% - (2rem*3))/4); }
  .my-row-2 .col-2-of-4 {
    width: calc(2*((100% - (2rem*3))/4)+ 2rem); }
  .my-row-2 .col-3-of-4 {
    width: calc(3*((100% - (2rem*3))/4)+ 2* 2rem); }

.my-row {
  max-width: 90%;
  margin: 0px auto; }
  .my-row:not(:last-child) {
    margin-bottom: 8rem;
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .my-row:not(:last-child) {
        margin-bottom: 8rem;
        margin-bottom: 2rem;
        padding: 0; } }
  @media (max-width: 56.25em) {
    .my-row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .my-row::after {
    content: "";
    display: table;
    clear: both; }
  .my-row [class^="col-"] {
    float: left; }
    .my-row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .my-row [class^="col-"]:not(:last-child) {
          margin-bottom: 8rem;
          margin-right: 0; } }
    @media (max-width: 56.25em) {
      .my-row [class^="col-"] {
        width: 100% !important; } }
  .my-row .col-1-of-2 {
    width: calc((100% - 2rem)/2); }
  .my-row .col-1-of-3 {
    width: calc((100% - (2rem*2))/3); }
  .my-row .col-2-of-3 {
    width: calc((2 * (100% - 2rem * 2) /3) + 2rem); }
  .my-row .col-1-of-3-xs {
    width: calc((100% - (2rem*2))/3); }
  .my-row .col-2-of-3-xs {
    width: calc((2 * (100% - 2rem * 2) /3) + 2rem); }
  .my-row .col-1-of-4 {
    width: calc((100% - (2rem*3))/4); }
  .my-row .col-2-of-4 {
    width: calc(2*((100% - (2rem*3))/4)+ 2rem); }
  .my-row .col-3-of-4 {
    width: calc(3*((100% - (2rem*3))/4)+ 2* 2rem); }

.section-nav {
  margin: 0rem 2rem 0 2rem; }
  @media (max-width: 56.25em) {
    .section-nav {
      margin: 0rem 0; } }

.section-header {
  padding: 2rem 0 0 0;
  margin: 0rem 2rem 0 2rem; }
  @media (max-width: 56.25em) {
    .section-header {
      padding: 0 0 0 0;
      margin: 2rem 2rem; } }

.section-about {
  min-height: 90vh;
  margin: 10rem 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 45%, transparent 60%), url(imagesStat/header.jpg); }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 3rem 5rem;
      margin: 2rem 2rem; } }

.section-features {
  position: relative;
  padding: 0rem auto;
  margin: 0rem 2rem 0 2rem;
  min-height: 90vh;
  background-color: #e7f1f3; }
  @media (max-width: 56.25em) {
    .section-features {
      margin: 0rem 0; } }

.section-tours {
  position: relative;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 45%, transparent 50%), url(imagesStat/portfolio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem 15rem;
  min-height: 90vh; }
  @media (max-width: 56.25em) {
    .section-tours {
      margin: 1rem 2rem; } }

.section-story {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-story {
      padding: 10rem; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right buttom, #b2c2ee, #48b9e6); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem; } }

.section-footer {
  margin: 5rem 2rem 0 2rem;
  height: 5rem; }
  @media (max-width: 56.25em) {
    .section-footer {
      margin: 4rem  0; } }
